<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBot43PsqWfUa9Be6Y0C8gW9KuKaP397PM</string>
	<key>GCM_SENDER_ID</key>
	<string>20229033687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ownpost.OwnPost</string>
	<key>PROJECT_ID</key>
	<string>ownpost2024</string>
	<key>STORAGE_BUCKET</key>
	<string>ownpost2024.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20229033687:ios:19fb2899cf9e9556aeaa92</string>
</dict>
</plist>